body{
    background-color: black !important;
}

.table{
    --bs-table-bg: rgb(25, 25, 25) !important;
    width: 400px !important;
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.5) !important;
    border-color: #0d6efd !important;
}

.table>:not(caption)>*>*{
    color: white !important;
}

/* To display the block as level element */
table tbody,
table thead {
    display: block;
}

/* thead tr th {
    height: 400px;
    line-height: 40px;
} */

table tbody {

    /* Set the height of table body */
    height: 400px;

    /* Set vertical scroll */
    overflow-y: auto;

    /* Hide the horizontal scroll */
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

tbody {
    border-top: 2px solid black;
}

tbody td,
thead th {
    width: 200px;
    border-right: 2px solid black;
}

th{
    top: 0px;
    position: sticky;
}